/*Big-Picture*/

html {
  font-family: monospace;
}

.description {
  text-align: center;
}

body {
  margin: 0;
}

table {
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
    top: 0;
}

.nav-option {
  float: left;
  border-right: 1px solid #ccc;
}

/*Table Construction*/
th, td {
  border: 1px solid black;
  vertical-align: middle;
  text-align: center;
}

.row {
  margin: 0px 10px 0px 10px;
}

.row h2 {
  text-align: center;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Table Specifics*/
.sort_button {
  background: none;
  cursor: pointer;
  text-align: center;
}

#max_points {
  height: 100%;
}

.record {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
}

a:hover {
  background-color: #111;
}


img {
  width: 5rem;
}

.record {
  align-self: ;
}

button {
  width: 5rem;
  height: 2rem;
  font-family: monospace;
  font-weight: bold;
  background-color: white;
  border-radius: 3px;
  border: 1px solid black;
}

/*Responsiveness*/
@media screen and (max-width: 600px) {
  .nav-option {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
